.toprighttext{
    z-index: 100;
    position: absolute;
    float: right;
    clear: both;
    color: #fff;
    width: 25%;
    right: 20px;;

}
.imgtop{

    width: 100%;
}
.leftnav{
background-color: #eaeaea;


}
.mainbody{

padding: 5px;
margin: 2%;
margin-top: 60px;
}

.rightcontent{



}
ul li {

text-decoration: none;
list-style: none;
height: 60px;

}
