.toprighttext{
    z-index: 100;
    position: absolute;
    float: right;
    clear: both;
    color: #fff;
    width: 25%;
    right: 20px;;

}

.headers{
    width: 100%;
}
.imgtop{

    width: 100%;
}
.leftnav{
background-color: #eaeaea;


}
.mainbody{

padding: 5px;
margin: 2%;
margin-top: 60px;
}

.rightcontent{



}
ul {
    padding: 0;
    list-style-type: none;
    margin-left:-10%;;
}
ul li {

text-decoration: none;
list-style: none;
line-height:60px;
width: 120%;
text-align: center;
padding-left: -90px;
border-top: 1px solid #fff;

}
ul li:hover{

    background-color: #fff;
}
ul li a {
margin-right: 10px;


}
ul li img{

    width: 24px;

}

#cont-b1{



}
#cont-b2{

}
#cont-b3{

}
#cont-b4{

}
#cont-b5{

}
#cont-b6{

}
#cont-b7{

}
